{% extends "base.html" %} 
{% comment %}{% block content %}
       <style>
       {% comment %} h3{ 
              color:white;
              text-align:center;
              margin: 25px 50px 75px;
              border-radius:10px;
              background-color: #3398E1 ;
       }
        .contain{
             background-color:#e9f0f2;
             margin-left: 200px;
             margin-right: 200px;
             padding:20px;
             border-radius:20px;
             margin-bottom:20px;
        } 
        .form-control{
          padding:20px;
        }
  
      </style> 
      
            <h3>Enter Details Of Your Post</h3>
           <div class="contain">
            <form method="POST" class="post-form" action="/create/">  
                    {% csrf_token %}  
                <div class="container">  
             
                 <div class="form-group">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                <h2 >Enter Details</h2>  
                </div>  
              </div>   
              <br>
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label" >Title:</label>  
                <div class="col-sm-4">  
                  {{ form.title }}  
                </div>  
              </div> 
              <br> 
              <div class="form-group row">  
                <label class="col-sm-2 col-form-label" >Author:</label>  
                <div class="col-sm-4">  
                  {{ form.author }}  
                </div>  
              </div>  
              <br>
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label" >Content:</label>  
                <div class="col-sm-4">  
                  {{ form.content }}  
                </div>  
              </div> 
              <br> 
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label" >Status:</label>  
                <div class="col-sm-4">  
                  {{ form.status }}  
                </div>  
              </div>
              <br> 
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label" >Date:</label>  
                <div class="col-sm-4">  
                  {{ form.created_on }}  
                </div>  
              </div> 
              <br> 
                 <div class="form-group row">   
                 <label class="col-sm-1 col-form-label"></label>   
                 <div class="col-sm-4">   
                 <button type="submit" class="btn btn-primary">Submit</button>   
                 </div>   
              </div>   
                </div>  
              </div>
            </form>  
          
{% endblock content %}    {% endcomment %}
{% block content %}
 <style>
   h2{
     color:white;
     margin-top:20px;
     padding:10px;
     text-align:center;
     background-color:#3398E1;
   }
   .container{
       margin-top:30px;
   }
   button{
     margin-left:220px;
   }
    
</style> 
<h2>Add Post</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-left:300px">
          <form action="/create/" method="POST">
          {% csrf_token %}
          <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title:</label><br>
            <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input type="text" class="form-control" id="author" placeholder="Enter Author name" name="author">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Content:</label>
            <textarea class="form-control" rows="3" col="3" id="content" placeholder="Enter Content"  name="content"></textarea>
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Status:</label>
            <input type="text" class="form-control" id="status" placeholder="Enter '0-Draft'/'1-Publish'" name="status">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Date:</label>
            <input type="datetime-local" class="form-control" id="date"  name="created_on">
          </div>
          <button type="submit" class="btn btn-primary">create</button>
          </form>
     </div>
  </div>
</div>
{% endblock content %}