{% extends 'base.html' %}
{% block content %}
<style>
    h3{
        
        margin-top:20px;
        margin-left:440px;
    }
    button[type=submit]{
        margin-left:650px;
        background-color:red;
    }
</style>
<form method="post">
    {% csrf_token %}
	<h3>Are you sure you want to delete "{{ object }}"?</h3>
    {% comment %} <input type="submit" value="Confirm"> {% endcomment %}
    <button type="submit" class="btn btn-primary" value="confirm">Delete</button> 
</form>
{% endblock content %}  