{% extends 'base.html' %}
{% block content %}
 <style>
    h2{
     color:white;
     margin-top:20px;
     padding:10px;
     text-align:center;
     background-color:#3398E1;
   }
   .container{
    margin-top:30px;
   }
   button{
     margin-left:220px;
   }
 </style>
  <h2>Update Post</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-left:300px">
          <form method="POST">
          {% csrf_token %}
         
            <div class="form-group">
            <label for="title" class="form-label">Title:</label>
           <input type="text" class="form-control" id="title" name="title" value="{{title}}">
             
          </div>
           <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input type="text" class="form-control" id="author" name="author" value={{author}} >
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Content:</label>
            <textarea class="form-control"  rows="3" col="3" id="content" name="content">{{content}}</textarea>
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Status:</label>
            <input type="number" class="form-control" id="status" name="status" value={{status}}>
            </div>
          <button type="submit" class="btn btn-primary">Update</button> 
          </form>
     </div>
  </div></div> 
{% endblock content%}  



{% comment %} {% block content %}
    <h1>Edit YourModel</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
{% endblock %} {% endcomment %}




 


